<!DOCTYPE html>
<html ng-app='app' ng-cloak lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="src/css/index.css">
    	<link rel="stylesheet" href="src/font/web-fonts-with-css/css/fontawesome-all.min.css">
		<title>YOT</title>
		

	</head>
	<body ng-controller="appCtrl">
		<header>
			<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
				<a class="navbar-brand" href="#"><img src="src/img/logo/logo.svg" alt="">YOT</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">TEAM <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TOKEN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI-overview-document.pdf" target="_blank">Overview Document</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI-technical-whitepaper.pdf" target="_blank">Technical Whitepaper</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI - Community Update.pdf" target="_blank">COMMUNITY UPDATE</a>
						</li>

					</ul>

					<div class="icon">
						<a href="" target="_blank"><i class="steemit"></i></a>
						<a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a>
						<a href="" target="_blank"><i class="fab fa-medium-m"></i></a>
						<a href="" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>	
						<a href="" target="_blank"><i class="fab fa-reddit-alien"></i></a>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<section class="section_one">
				<div class="content">
					<div class="overview-copy-container">
						<h4>
							<span class="white">COTI - C</span>URRENCY 
							<span class="white">O</span>F
							<span class="white">T</span>HE
							<span class="white">I</span>NTERNET	
						</h4>

						<h1>Finally, a digital currency built for payments</h1>

						<form>
							<input type="email" placeholder="YOUR EMAIL">
							<button>Stay Informed</button>	
						</form>

						<h4 class="">OUR PRIVATE SALE HAS STARTED</h4>
					</div>
					<div class="img_background">
						<div class="overview-hex">
							<div class="overview-hex-image">
								<div class="overview-hex-play"></div>
							</div>							
						</div>
					</div>
				</div>
			</section>

			<section class="pattern">
				<div class="row">
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="investing"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="techcrunch"></div></a>
					</div>
					<div class="col-4 col-xl-2">	
						<a href="" target="_blank"><div class="forbes"></div></a>
					</div>

					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="inc"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="euromoney"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="telegraph"></div></a>
					</div>
				</div>
			</section>

			<section class="section_two">
				<div class="row">
					<div class="col-xl-6 col-12">
						<div class="vision"></div>
					</div>
					<div class="col-xl-6 col-12 right">
						<h3 class="txt-highlight">
							VISION
						</h3>
						<h2>
							Zero-friction commerce,
							<br>
							everywhere
						</h2>

						<p>
							Commerce is evolving. A few years from now, digital currencies will play a central role in our lives, replacing coins, cash, cards and cheques. They will enable us to transact more easily, more cost-effectively and with greater security than ever before.
						</p>

						<br>

						<p>
							COTI aspires to bring about this change by becoming the Currency of the Internet – the first digital currency to achieve widespread adoption in consumer transactions.
						</p>

					</div>
				</div>
			</section>

			<section class="section_three">
				<div class="row">
					<div class="container">
						<div class="col-xl-6 col-12">
							<h3 class="txt-highlight">CHALLENGE</h3>
							<h2>
								Payments are not keeping pace with commerce
							</h2>

							<p>
								As the world becomes increasingly interconnected, new forms of commerce – including peer-to-peer transactions, online marketplaces and cross-border eCommerce – are becoming commonplace. Payments networks do not accommodate these forms of commerce effectively, resulting in high fees and low approval rates.
							</p>
							<br>
							<p>
								Digital currencies, including Bitcoin, lay a strong foundation. But they do not provide a complete payments solution: they face scaling challenges and low rates of adoption, and are unable to offer the protections that consumers and merchants have grown accustomed to.
							</p>
						</div>
						<div class="col-xl-6 col-12">
							<div class="challenge-img"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_fourth">
				<div class="row">
					<div class="center-horizontal">
						<div class="col-xl-6 col-12">
							<div class="solution-img"></div>
						</div>
						<div class="col-xl-6 col-12">

							<div class="center-vertical">
								<h3 class="txt-highlight">SOLUTION</h3>
								<h2>
									The digital currency that is built for payments
								</h2>

								<p>
									COTI is a payments transaction network that was built from the ground-up to solve the payments challenges of today. By introducing a layer of trust to all buyer and seller interactions, COTI gives users greater peace-of-mind and eliminates friction from the payments experience.
								</p>
								<br>
								<p>
									Powered by a native digital currency, COTI combines the best of traditional payments systems with the best of blockchain technologies to offer the fastest, easiest, most cost-effective and most trusted way to pay.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_five">
				<div class="row">
					<div class="container">
						<div class="center-horizontal">
							<div class="col-xl-6 col-12">
								<div class="center-vertical">
									<h3 class="txt-highlight">PROTOCOL</h3>
									<h2>
										Building trust and incentivizing honest conduct
									</h2>

									<p>
										At the core of COTI’s ecosystem lies the Trust Protocol, a new approach for building trust between transacting parties.
									</p>
									<br>
									<p>
										The protocol algorithmically scores the trustworthiness of buyers and sellers based on their behaviours over time. A seller with an impeccable trust record pays zero processing fees, while a seller with a less-than-ideal record incurs higher fees.
									</p>
									<br>
									<p>
										The protocol features a decentralized system that reaches consensus on disputes using crowdsourced mediators. Just as Bitcoin miners receive Bitcoin for their efforts, COTI’s mediators are rewarded with COTI’s native currency. Disputes are resolved in a fair, fast and cost-effective manner.
									</p>
								</div>
							</div>
							<div class="col-xl-6 col-12">
								<div class="protocol-img"></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_seven">
				<div class="documentation-left">
					<div class="documentation-box-container"></div>
				</div>
			</section>

			<section class="section_nine">
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="documentation-box-container">
								<div class="documentation-box documentation-overview">
									<div class="shadow">
										<div class="documentation-box-top">
											<div class="documentation-logo"></div>
										</div>
										<div class="documentation-box-middle">Overview Document</div>
									</div>

									<div class="documentation-box-bottom">
										<a href="src/pdfs/COTI-overview-document.pdf" target="_blank">
											<button>Download</button>
										</a>
									</div>
								</div>

								<div class="documentation-box documentation-whitepaper">
									<div class="shadow">
										<div class="documentation-box-top">
											<div class="documentation-logo"></div>
										</div>
										<div class="documentation-box-middle">Technical Whitepaper</div>
									</div>

									<div class="documentation-box-bottom">
										<a href="src/pdfs/COTI-technical-whitepaper.pdf" target="_blank">
											<button>Download</button>
										</a>
									</div>
								</div>
							</div>
						</div>
							
						<div class="col-xl-6">						
							<div class="documentation-right">
								<h3 class="txt-highlight">Documentation</h3>
								<h2>Key documents</h2>
								<p>The Overview Document provides an end-to-end picture of the COTI project – from its origins and motivation through to its token sale and roadmap.</p>
								<br>
								<p>The Technical Whitepaper provides a technical treatment of COTI’s core technology.</p>
							</div>						
						</div>
					</div>
				</div>
			</section>

			<section class="section_eight">
				<h3 class="txt-highlight">ROADMAP</h3>
				<h2>
					Key milestones on COTI’s journey to improve payments
				</h2>

				<div class="content-img">
					<div class="roadmap-img-container" style="margin-left: 0%;">
						<div class="map-img map-img1"></div>
						<div class="map-img map-img2"></div>
						<div class="map-img map-img3"></div>
					</div>						
				</div>
				
				<div class="align-button">
					<a class="align" ng-click="">2017</a>
					<a class="text-center" ng-click="">2018</a>
					<a class="text-center" ng-click="">Future</a>
				</div>
			</section>

			<section class="section_ten">
				<div class="container">
					<h3 id="title1" class="txt-highlight">PEOPLE</h3>
					<h2>Behind the Currency of the Internet</h2>
					<h3 id="title2" class="txt-highlight">Core Team</h3>

					<div class="row" ng-repeat="team in response.teams">
						<div class="col-md-4 col-xl-4" ng-repeat="people in team">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/1.jpg" width="140" height="140">
							<p class="team-people-name">{{people.fullName}}</p>
							<p class="team-people-title">{{people.employment}}</p>
						</div>
					</div>

					<h3 id="title3" class="txt-highlight">BACKERS AND ADVISORS</h3>

					<div class="row" ng-repeat="team in response.teams">
						<div class="col-md-4 col-xl-4" ng-repeat="people in team">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/1.jpg" width="140" height="140">
							<p class="team-people-name">{{people.fullName}}</p>
							<p class="team-people-title">{{people.employment}}</p>
						</div>
					</div>

					<a href="">
						<button class="meet-team">LEARN MORE ABOUT THE TEAM</button>
					</a>
				</div>
			</section>
			
			<section class="pattern">					
				<h3 class="txt-highlight _center">PARTNERS</h3>	
				<div class="row align-partners">		
					<div class="col-12 offset-lg-2 offset-xl-2 col-lg-4 col-xl-4">
						<div class="transacteu"></div>
					</div>

					<div class="col-12 col-lg-4 col-xl-4">
						<div class="processing"></div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8 connect-copy-container">
						
						<h3 class="txt-highlight">connect</h3>
						<br>
						<h2>
							YOA is the Currency of the Internet – the fastest, easiest, most cost-effective and reliable way to pay
						</h2>
						<br>
						<form class="form-inline">
							<div class="form-group mb-2">
								<label for="staticEmail2" class="sr-only">Email</label>
							</div>
							<div class="form-group mx-sm-3 mb-2">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
									</div>
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" placeholder="YOUR EMAIL">
								</div>
								
							</div>
							<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
						</form>
					</div>

					<div class="d-none d-md-block col-sm-4 social-network">
						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-reddit-alien"></i>
									<p>
										Reddit
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-facebook-square"></i>
									<p>
										Facebook
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-twitter"></i>
									<p>
										Twitter
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-medium-m"></i>
									<p>
										Medium
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-telegram-plane"></i>
									<p>
										Telegram
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href=""><i class="steemit"></i><p>Steemit</p></a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-linkedin-in"></i>
									<p>
										Linkedin
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-youtube"></i>
									<p>
										Youtube
									</p>
								</a>
							</div>	
						</div>
					</div>
					<div class="col-12">
						<a href="">contact@yoa.io</a>
						<a href="">Website Terms</a>
						<a href="">Privacy</a>
						<a href="">AML</a>
						<a href="">Refund</a>
					</div>
					<br>
					<p>© 2018 YOA Limited</p>
				</div>

				<div class="d-md-none col-sm-4">
					<div class="row">
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-reddit-alien"></i>
									Reddit
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-facebook-square"></i>Facebook
								</p>
							</a>
						</div>	
					
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-twitter"></i>
									Twitter
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-twitter"></i>
									Twitter
								</p>
							</a>
						</div>	
					</div>

					<div class="row">
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-medium-m"></i>
									Medium
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-telegram-plane"></i>
									Telegram
								</p>
							</a>
						</div>	
				
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-linkedin-in"></i>
									Linkedin
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-youtube"></i>
									Youtube
								</p>
							</a>
						</div>	
					</div>
				</div>
			</div>
		</footer>


		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="node_modules/angular/angular.min.js"></script>
	
		<script src="src/js/modules/module.js"></script>
		<script src="src/js/controllers/appCtrl.js"></script>

	</body>
</html>