<!DOCTYPE html>
<html ng-app='app' ng-cloak lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="src/css/index.css">
    	<link rel="stylesheet" href="src/font/web-fonts-with-css/css/fontawesome-all.min.css">
		<title>YOT</title>
		

	</head>
	<body ng-controller="appCtrl">
		<header>
			<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
				<a class="navbar-brand" href="#">YOT</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">TEAM <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TOKEN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Overview Document</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Technical Whitepaper</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">COMMUNITY UPDATE</a>
						</li>

					</ul>

					<div class="">
						<a href="" target="_blank"><i class=""></i></a>
						<a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a>
						<a href="" target="_blank"><i class="fab fa-medium-m"></i></a>
						<a href="" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>	
						<a href="" target="_blank"><i class="fab fa-reddit-alien"></i></a>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<section class="section_one">
				<div class="content">
					<div class="img_background">
						
					</div>
				</div>
			</section>

			<section class="section_two">
				<div class="row">
					<div class="col-xl-6 col-12">
						<div class="vision"></div>
					</div>
					<div class="col-xl-6 col-12">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</section>

			<section class="section_three">
				<div class="row">
					<div class="container">
						<div class="col-xl-6 col-12">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						<div class="col-xl-6 col-12">
							<div class="challenge-img"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="section_fourth">
				<div class="row">
					<div class="col-xl-6 col-12">
						<div class="solution-img"></div>
					</div>
					<div class="col-xl-6 col-12">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</section>
			<section class="section_five">
				<div class="row">
					<div class="container">
						<div class="col-xl-6 col-12">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						<div class="col-xl-6 col-12">
							<div class="protocol-img"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="pattern">
				<div class="row">
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="investing"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="techcrunch"></div></a>
					</div>
					<div class="col-4 col-xl-2">	
						<a href="" target="_blank"><div class="forbes"></div></a>
					</div>

					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="inc"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="euromoney"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="telegraph"></div></a>
					</div>
				</div>
			</section>
			<section class="section_seven">
				<div class="documentation-left">
					<div class="documentation-box-container"></div>
				</div>
			</section>
			<section class="">hola 8</section>
			<section class="section_eight">
					<div class="roadmap-img-container">
						<div class="map-img map-img1"></div>
						<div class="map-img map-img2"></div>
						<div class="map-img map-img3"></div>
					</div>
			</section>
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/1.jpg" width="140" height="140">
							<p class="team-people-name">Carlos Aguilera</p>
							<p class="team-people-title">CEO</p>
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/2.jpg" width="140" height="140">
							<p class="team-people-name">Gregory Perez</p>
							<p class="team-people-title">Product Manager</p>
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/3.jpg" width="140" height="140">
							<p class="team-people-name">Cesar Kai</p>
							<p class="team-people-title">SEO</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div id="" class="row">
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/1.jpg" width="140" height="140">
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/2.jpg" width="140" height="140">
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/3.jpg" width="140" height="140">
						</div>
					</div>
				</div>

				<div id="" class="container">
					<div class="row">
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/1.jpg" width="140" height="140">
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/2.jpg" width="140" height="140">
						</div>
						<div class="col-md-4 col-xl-4">
							<img class="mx-auto d-block rounded-circle" src="src/img/prueba/3.jpg" width="140" height="140">
						</div>
					</div>
				</div>
			</section>
			
			<section class="pattern">
						
				<h3 class="txt-highlight _center">PARTNERS</h3>
					
				<div class="row align-partners">		
					<div class="col-12 offset-lg-2 offset-xl-2 col-lg-4 col-xl-4">
						<div class="transacteu"></div>
					</div>

					<div class="col-12 col-lg-4 col-xl-4">
						<div class="processing"></div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8 connect-copy-container">
						
						<h3 class="txt-highlight">connect</h3>
						<br>
						<h2>
							YOA is the Currency of the Internet – the fastest, easiest, most cost-effective and reliable way to pay
						</h2>
						<br>
						<form class="form-inline">
							<div class="form-group mb-2">
								<label for="staticEmail2" class="sr-only">Email</label>
							</div>
							<div class="form-group mx-sm-3 mb-2">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
									</div>
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" placeholder="YOUR EMAIL">
								</div>
								
							</div>
							<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
						</form>
					</div>

					<div class="d-none d-md-block col-sm-4 social-network">
						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-reddit-alien"></i>
									<p>
										Reddit
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-facebook-square"></i>
									<p>
										Facebook
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-twitter"></i>
									<p>
										Twitter
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-medium-m"></i>
									<p>
										Medium
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-telegram-plane"></i>
									<p>
										Telegram
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href=""><i class="steemit"></i><p>Steemit</p></a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-linkedin-in"></i>
									<p>
										Linkedin
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-youtube"></i>
									<p>
										Youtube
									</p>
								</a>
							</div>	
						</div>
					</div>
					<div class="col-12">
						<a href="">contact@yoa.io</a>
						<a href="">Website Terms</a>
						<a href="">Privacy</a>
						<a href="">AML</a>
						<a href="">Refund</a>
					</div>
					<br>
					<p>© 2018 YOA Limited</p>
				</div>
				<div class="d-md-none col-sm-4">
						<div class="row">
							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-reddit-alien"></i>
										Reddit
									</p>
								</a>
							</div>

							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-facebook-square"></i>Facebook
									</p>
								</a>
							</div>	
						
							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-twitter"></i>
										Twitter
									</p>
								</a>
							</div>

							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-twitter"></i>
										Twitter
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-medium-m"></i>
										Medium
									</p>
								</a>
							</div>

							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-telegram-plane"></i>
										Telegram
									</p>
								</a>
							</div>	
					
							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-linkedin-in"></i>
										Linkedin
									</p>
								</a>
							</div>

							<div class="col-3">
								<a href="">
									<p>
										<i class="fab fa-youtube"></i>
										Youtube
									</p>
								</a>
							</div>	
						</div>
				</div>
			</div>
		</footer>


		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="node_modules/angular/angular.min.js"></script>
	
		<script src="src/js/modules/module.js"></script>
		<script src="src/js/controllers/appCtrl.js"></script>
	</body>
</html>