<!DOCTYPE html>
<html ng-app='app' ng-cloak lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="src/css/index.css">
    	<link rel="stylesheet" href="src/font/web-fonts-with-css/css/fontawesome-all.min.css">
		<title>YOT</title>
		

	</head>
	<body ng-controller="appCtrl">
		<header>
			<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
				<a class="navbar-brand" href="#"><img src="src/img/logo/logo.svg" alt="">YOT</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">TEAM <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TOKEN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI-overview-document.pdf" target="_blank">Overview Document</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI-technical-whitepaper.pdf" target="_blank">Technical Whitepaper</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="src/pdfs/COTI - Community Update.pdf" target="_blank">COMMUNITY UPDATE</a>
						</li>

					</ul>

					<div class="icon">
						<a href="" target="_blank"><i class="steemit"></i></a>
						<a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a>
						<a href="" target="_blank"><i class="fab fa-medium-m"></i></a>
						<a href="" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>	
						<a href="" target="_blank"><i class="fab fa-reddit-alien"></i></a>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<section class="section_one">
				<div class="content">
					<div id="token" class="overview-copy-container">
						
						<h3 id="token" class="txt-highlight">TOKEN SALE</h3>
						<h1 id="tokenH1">
							COTI is unlocking the full potential of global commerce.
						</h1>

						<h2 id="token">Token amount is limited,<br>Apply now to participate.</h2>

						<h4 id="acceptCreditCartTitle">*CREDIT CARDS ACCEPTED</h4>
						<form>
							<div class="email"><i class="far fa-envelope"></i></div>
							<input type="email" placeholder="YOUR EMAIL">
							<button type="submit">Stay Informed</button>	
						</form>

						<div class="token-header-buttons">
							<a href="src/pdfs/COTI-overview-document.pdf" target="_blank"><button class="overview">Overview Document</button></a>
							<a href="src/pdfs/COTI-technical-whitepaper.pdf" target="_blank"><button class="technical">Technical Whitepaper</button></a>
							<a href="src/pdfs/COTI-Token-Sale-Summary.pdf" target="_blank"><button class="token-economy">TOKEN ECONOMY</button></a>
						</div>

					</div>
					<div class="img_background">
						<div class="overview-hex">
							<div class="overview-hex-image">
								<div class="overview-hex-play"></div>
							</div>							
						</div>
					</div>
				</div>
			</section>

			<section class="pattern">
				<div class="row">
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="investing"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="techcrunch"></div></a>
					</div>
					<div class="col-4 col-xl-2">	
						<a href="" target="_blank"><div class="forbes"></div></a>
					</div>

					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="inc"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="euromoney"></div></a>
					</div>
					<div class="col-4 col-xl-2">
						<a href="" target="_blank"><div class="telegraph"></div></a>
					</div>
				</div>
			</section>

			<section id="basics">
				<div class="content">
					<h3 class="txt-highlight">The Basics</h3> 
					<div>
						<div class="basics-what-coti"></div>
					</div>
					<div>
						<h2>What is COTI?</h2>
						<p>
							COTI is a payments transaction network that was built from the ground-up to solve the payments challenges of today. Developed by payments industry veterans, COTI combines the best of traditional payments systems with the best of blockchain technologies to offer the fastest, easiest, most cost-effective and most trusted way to pay. COTI will be holding a token sale for its native currency, for more details refer to the 

							<a href="src/pdfs/COTI-overview-document.pdf" target="_blank">Overview Document</a>

							<a href="src/pdfs/COTI-technical-whitepaper.pdf" target="_blank">Technical Whitepaper</a>
						</p>
					</div>
					<div>
						<h2>What is a token sale?</h2>
						<p>A token sale, sometimes referred to as an initial coin offering (ICO), is form of crowd-funding for digital currency-related projects. In token sales, purchasers buy units of a new currency in exchange for legal tender or other digital currencies, such as Bitcoin or Ethereum.</p>
					</div>
					<div class="basics-what-token"></div>
					<div class="basics-participate"></div>
					<div><h2></h2>
						<p>Participating in COTI’s token sale will be straight-forward. Enter your email in the form provided above to receive a notification when the details of the token sale are released. During the sale, tokens will be available for purchase using card, bank wire, Bitcoin and Ethereum. Any COTI tokens that you purchase will be delivered to you at the end of the token sale.</p>
					</div>
				</div>
			</section>

			<section id="status-offering">
				<div class="content">
					<div>
						<h3 class="txt-highlight">Status</h3>
						<h2>The token sale starts soon</h2>
						<p>Tokens are currently being sold to a small group of strategic advisors. This phase of the sale is nearly complete. When this phase ends, COTI will release details of the next phase – the first opportunity for members of the public to obtain COTI tokens.</p>
					</div>
					<div>
						<div class="status-offering-status"></div>
					</div>
					<div>
						<div class="status-offering-offering"></div>
					</div>
					<div>
						<h3 class="txt-highlight">The Offering</h3>
						<h2>Be one of the very first owners of COTI tokens</h2>
						<p>The total amount of COTI tokens available for sale is limited. Once the cap is reached the sale will be closed.</p>
					</div>
				</div>
			</section>

			<section id="allocations">
				<div class="content">
					<h3 class="txt-highlight">
						Token Allocations
					</h3>

					<div>
						<div class="allocations-allocations"></div>
					</div>
					
					<div>
						<ul class="bullet-list">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<ul class="word-list">
							<li>Token Sale – Private, Pre, Public</li>
							<li>Founders, Team, Early Backers, Advisors</li>
							<li>Partners' network</li>
							<li>Validators' incentives</li>
							<li>Token liquidity for market making</li>
							<li>Opening balance for the Reserve Credit Fund</li>
							<li>Incentive programs for Merchants and Users</li>
							<li>Community grants and partnerships</li>
						</ul>
						<ul class="percent-list">
							<li>42%</li>
							<li>10%</li>
							<li>6%</li>
							<li>7%</li>
							<li>11%</li>
							<li>9%</li>
							<li>12.5%</li>
							<li>2.5%</li>
						</ul>
					</div>
				</div>
			</section>

			<section id="proceeds">
				<div class="content">
					<h3 class="txt-highlight">
						USE OF PROCEEDS
					</h3>
					<div>
						<div>
							<ul class="bullet-list">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="word-list">
								<li>Token Sale – Private, Pre, Public</li>
								<li>Founders, Team, Early Backers, Advisors</li>
								<li>Partners' network</li>
								<li>Validators' incentives</li>
								<li>Token liquidity for market making</li>
								<li>Opening balance for the Reserve Credit Fund</li>
								<li>Incentive programs for Merchants and Users</li>
								<li>Community grants and partnerships</li>
							</ul>
							<ul class="percent-list">
								<li>42%</li>
								<li>10%</li>
								<li>6%</li>
								<li>7%</li>
								<li>11%</li>
								<li>9%</li>
								<li>12.5%</li>
								<li>2.5%</li>
							</ul>
						</div>
					</div>
					<div>
						<div class="proceeds-proceeds"></div>
					</div>
				</div>
			</section>

			<section id="proceeds2">
				<div class="content">
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Legal & Compliance (10%)
							</p>
							<p class="proceeds2-box-text">
								COTI will use proceeds to lay built a robust, global licensing footprint for its various services – wallets, exchange and payment services.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								R&D (25%)
							</p>
							<p class="proceeds2-box-text">
								COTI will fund the development program encompassing the base layer protocol, the exchange, the consumer and mediator client applications, merchant integration tools, and more.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Marketing (16%)
							</p>
							<p class="proceeds2-box-text">
								Marketing to merchants and consumers will be a key aspect of fuelling the COTI network, building acceptance of COTI’s wallet.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Merchant Services (12%)
							</p>
							<p class="proceeds2-box-text">
								Covers the delivery and maintenance of the non-software merchant services, including hedging services.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Reserve (10%)
							</p>
							<p class="proceeds2-box-text">
								A portion of the proceeds will be set aside as reserve funds for future deployment of the market-maker, legal and compliance, or R&D (depending on requirements for network expansion).
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Market-Maker (10%)
							</p>
							<p class="proceeds2-box-text">
								COTI’s automated market-maker will be seeded with capital in order to establish a healthy functioning market for COTI and other currencies flowing through the network.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								COTI Fund (10%)
							</p>
							<p class="proceeds2-box-text">
								A portion of the proceeds will be set aside to invest in, and assist, other ventures that build upon COTI's technology.
							</p>
						</div>
					</div>
					<div class="proceeds2-box-container">
						<div class="proceeds2-box">
							<p class="proceeds2-box-title">
								Operational Expenses (7%)
							</p>
							<p class="proceeds2-box-text">
								Covers various operational expenses that will be incurred by COTI.
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-8 connect-copy-container">
						
						<h3 class="txt-highlight">connect</h3>
						<br>
						<h2>
							YOA is the Currency of the Internet – the fastest, easiest, most cost-effective and reliable way to pay
						</h2>
						<br>
						<form class="form-inline">
							<div class="form-group mb-2">
								<label for="staticEmail2" class="sr-only">Email</label>
							</div>
							<div class="form-group mx-sm-3 mb-2">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
									</div>
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" placeholder="YOUR EMAIL">
								</div>
								
							</div>
							<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
						</form>
					</div>

					<div class="d-none d-md-block col-sm-4 social-network">
						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-reddit-alien"></i>
									<p>
										Reddit
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-facebook-square"></i>
									<p>
										Facebook
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-twitter"></i>
									<p>
										Twitter
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-medium-m"></i>
									<p>
										Medium
									</p>
								</a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-telegram-plane"></i>
									<p>
										Telegram
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href=""><i class="steemit"></i><p>Steemit</p></a>
							</div>	
						</div>

						<div class="row">
							<div class="col-md-4">
								<a href="">
									<i class="fab fa-linkedin-in"></i>
									<p>
										Linkedin
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="">
									<i class="fab fa-youtube"></i>
									<p>
										Youtube
									</p>
								</a>
							</div>	
						</div>
					</div>
					<div class="col-12">
						<a href="">contact@yoa.io</a>
						<a href="">Website Terms</a>
						<a href="">Privacy</a>
						<a href="">AML</a>
						<a href="">Refund</a>
					</div>
					<br>
					<p>© 2018 YOA Limited</p>
				</div>

				<div class="d-md-none col-sm-4">
					<div class="row">
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-reddit-alien"></i>
									Reddit
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-facebook-square"></i>Facebook
								</p>
							</a>
						</div>	
					
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-twitter"></i>
									Twitter
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-twitter"></i>
									Twitter
								</p>
							</a>
						</div>	
					</div>

					<div class="row">
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-medium-m"></i>
									Medium
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-telegram-plane"></i>
									Telegram
								</p>
							</a>
						</div>	
				
						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-linkedin-in"></i>
									Linkedin
								</p>
							</a>
						</div>

						<div class="col-3">
							<a href="">
								<p>
									<i class="fab fa-youtube"></i>
									Youtube
								</p>
							</a>
						</div>	
					</div>
				</div>
			</div>
		</footer>


		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="node_modules/angular/angular.min.js"></script>
	
		<script src="src/js/modules/module.js"></script>
		<script src="src/js/controllers/appCtrl.js"></script>

	</body>
</html>