/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

.connect-copy-container{
	text-align: left;
	color: #fff;
    width: 65%;
}

.connect-copy-container>h2 {
	max-width: 650px;
    margin: 3% 2% 5% 0;
    font-family: book;
    font-size: 34px !important;
    font-weight: 100;
    letter-spacing: 0;
    font-family: 'Titillium Web',sans-serif !important;
    font-size: 26px;
}

.txt-highlight{
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin: 4.5% 0;
	text-align: left;
	margin-bottom: -3.5%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    background-image: linear-gradient(252deg,#2cbfdf,#2c9cdf);
}

._center {
    text-align: unset;
    margin: -2% 0% 1% -6%;
}

p {
	text-indent: 3vw;
}

footer{
	font-family: 'Titillium Web',sans-serif !important;
    background: linear-gradient(to bottom,#00194c,#04a7cb);
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
	clear: both;
	position: relative;
    z-index: 10;
    height: auto;
    margin-top: -3em;
}

.input-group-text{
	margin-right: 1vw;
	background-color: transparent !important;
	border: solid 1px #2cbfdf !important;
	border-right: none !important; 
}

.form-control {
	border-left: none !important;  
	border: solid 1px #2cbfdf !important;
	color: #e2efff !important;
	font-size: 13px !important;
	background-color: transparent !important;
	margin-left: -1vw !important;
	border-left: black !important;
}

.social-network {
    color: #e2f0ff !important;
    font-size: 20px !important;
    top: 7vh !important;
    left: -11vh !important;
}

.social-network > p {
	float: left !important;
    position: relative !important;
    opacity: .8 !important;
	font-weight: 300 !important;
    letter-spacing: 1.4px !important;
    text-align: left !important;
    margin-bottom: 25px !important;
    text-transform: uppercase !important;
    text-shadow: 0 0 4px rgba(235,251,255,.02) !important;
    line-height: 35px !important;
}

.social-network i {
	font-size: 29px !important;
    margin-left: -6vw !important;
    top: 0vh !important;
    position: absolute;
    margin-left: -4vw !important;
    background-color: transparent;
    color: #2cbfdf;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #25caf0;
    color: transparent;
    float: left;
    position: absolute;
    margin-right: 22px;
    width: 28px;
    transition: .6s all;
}

.section_one {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100%;
    margin: 0 -100%;
	background: linear-gradient(to bottom,#00194c,#04a7cb);
}

.content{
	height: 100vh;
}

.img_background {
    background: url(../img/leaderboard.svg) center center no-repeat;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100%;
    margin: 0 -100%;
    position: absolute;
}

.vision { 
    width: 50%;
    height: 100vh;
    background: url(../img/vision.svg) center center no-repeat;
    background-size: contain;
    width: 100%;
}

.section_three {
    background-image: linear-gradient(65deg,#194aad,#014a78);
    background-size: cover;
    height: 100vh;
}

.section_three h3{
	margin-top: 28vh;
    margin-bottom: 1vh;
}

.section_three h2{
	color: #e2efff;
	width: 80%;
}

.section_three p{
	font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #e2efff;
    text-indent: 0px;
}

.challenge-img {
    background: url(../img/challenge.svg) center center no-repeat;
    background-size: contain;
    width: 400px;
    height: 500px;
    margin-left: 45vw;
    margin-top: -44vh;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important; 
}

.section_fourth {
	height: 100vh;
}

.section_fourth h2{
	font-size: 34px;
    font-weight: 100;
    letter-spacing: 1.1px;
    width: 80%;
}

.section_fourth h3{
	margin-top: 23vh;
    margin-bottom: 1vh;
}

.section_fourth p {
	width: 74%;
    text-indent: 0px;

    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
}

.section_fourth .center-vertical {
	margin-left: 3vw;
}

.section_fourth .center-horizontal {
	display: inherit;
    margin-top: 11vh;
}

.solution-img {
    background: url(../img/solution.svg) center center no-repeat;
    background-size: contain;
    height: 438px;
    margin-top: 17vh;
    margin-left: 9%;
}

.section_five {
    background-image: linear-gradient(to top,#04a7cb,#00194c 99%);
}

.protocol-img {
    background: url(../img/protocol.png) center center no-repeat;
    background-size: contain;
    width: 480px;
    height: 500px;
    margin-left: 45vw;
}

.pattern {
	height: auto;
	display: block;
    padding: 85px 0;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
    background-color: #f4f4f4;
    text-align: center;
    background: url(../img/pattern-small.svg) 0 0 no-repeat,#f4f4f4;
    background-size: cover;
}

.investing {
    background: url(../img/investing-idle.png) no-repeat;
    background-size: contain;
    height: 28px;
    width: 150px;
    margin-top: 11px;
}

.investing:hover{
	background: url(../img/investing.png) no-repeat;
    background-size: contain;
}

.techcrunch{
	background: url(../img/techcrunch-idle.svg) no-repeat;
    background-size: contain;
    height: 30px;
    width: 59px;
    margin-top: 10px;
    margin-left: 3vw;
}

.techcrunch:hover{
	background: url(../img/techcrunch.svg) no-repeat;
    background-size: contain;
}

.forbes {
    background: url(../img/forbes-idle.svg) no-repeat;
    background-size: contain;
    height: 40px;
    width: 116px;
    margin-top: 9.5px;
}

.forbes:hover{
	background: url(../img/forbes.svg) no-repeat;
    background-size: contain;
}

.inc {
    background: url(../img/inc-idle.png) no-repeat;
    background-size: contain;
    height: 30px;
    width: 87px;
    margin-top: 10px;
    margin-left: 1vw;
}

.inc:hover{
	background: url(../img/inc.png) no-repeat;
    background-size: contain;
}

.euromoney {
    background: url(../img/euromoney-idle.svg) no-repeat;
    background-size: contain;
    height: 30px;
    width: 133px;
    margin-top: 10px;
}

.euromoney:hover{
	background: url(../img/euromoney.svg) no-repeat;
    background-size: contain;
}

.telegraph {
    background: url(../img/telegraph-idle.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 106px;
    margin-left: 1vw;
}

.telegraph:hover {
   	background: url(../img/telegraph.png) no-repeat;
    background-size: contain;
}

.transacteu {
    background: url(../img/transacteu.png) no-repeat;
    height: 40px;
    width: 201px;
    margin-top: -2vh;
}

.processing {
    background: url(../img/processing.png) no-repeat;
    height: 23px;
    width: 240px;
    padding-top: 8px;
    margin-top: -2vh;
}



.align-partners {
    margin-bottom: 4.3%;
    margin-top: 3%;
}

.section_eight {
    padding-top: 75px;
    background-color: #f4f4f4;
    background-image: linear-gradient(115deg,#123680,#0681a9);
    height: auto;
}

.content-img {
    display: block;
    padding-top: 10vh;
    height: auto;
}

.roadmap-img-container{
    width: 100%;
    -webkit-transition: margin-left 1.2s;
    display: -webkit-inline-box;
}


.map-img {
    position: relative;
    float: left;
    height: 500px;
    max-width: 1300px;
}

.map-img1 {
    position: relative;
    background: url(../img/2017.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.map-img2 {
    position: relative;
    background: url(../img/2018.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.map-img3 {
    position: relative;
    background: url(../img/future.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.team-people-name {
    font-family: med;
    margin: 0% 22% 0 22%;
}

.team-people-title {
    font-weight: 300;
    margin-top: -5%;     
}

.team-people-inner-container{
    width: 33.33%;
}

.font-name {
    text-indent: 0vw;
    padding: 10px;
    text-align: center;
}

.container > .row p {
    font-size: 14px;
    text-indent: 0vw;
    padding: 10px;
    text-align: center;
}

.section_nine{
    position: static;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

section#section_nine .documentation-left {
    width: 572px;
    height: 410px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
}

.documentation-right{
	width: 80%;
    margin: auto;
    margin-top: 11vh;
}

.documentation-right h2 {
	margin-bottom: 3%;
}

.documentation-right h3 {
	font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    margin-bottom: 1%;
}

.documentation-right p {
	padding: 0px !important;
	text-align: left !important;

    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
}


.documentation-box-container {
    width: 572px;
    height: 14pc;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
}

.documentation-box {
    width: 256px;
    height: 410px;
}

.shadow {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
}

.documentation-box-top {
	height: 256px;
    box-sizing: border-box;
    background-image: linear-gradient(227deg,#04a7cb,#892d98);
    padding: 87px 0 0 88px
}

.documentation-logo {
    background: url(../img/overview.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 89px;
}

.documentation-box-middle {
    height: 52px;
    line-height: 52px;
    background-color: #eaedf4;
    text-align: center;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.4px;
}

.documentation-whitepaper {

}

.documentation-whitepaper .documentation-box-top {
	background-image: linear-gradient(222deg,#57d9f2,#194aad);
    padding: 80px 0 0 64px;
}

.documentation-whitepaper .documentation-box-top{
	background-image: linear-gradient(222deg,#57d9f2,#194aad);
    padding: 80px 0 0 64px;
}

.documentation-whitepaper .documentation-logo {
    background: url(../img/white-paper.svg) no-repeat;
    background-size: contain;
    width: 131px;
    height: 101px;
}

.documentation-box-bottom {
    height: 102px;
    display: flex;
    padding: 13%;
}

.section_nine button {
	border: none;
    width: 174px;
    height: 36px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(43,96,143,.3);
    font-family: 'Titillium Web',sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #f2fcff;
    text-transform: uppercase;
    padding-left: 30px;
    margin: auto;
    cursor: pointer;
    transition: .3s all ease-in;
    background: url(../img/download.svg) no-repeat 124px 8px;
}

.documentation-overview {}

.documentation-overview button {
    background-color: #2cbedf;
}

.documentation-whitepaper button {
    background-color: #2c9cdf;
}

#section_nine .content{
	max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
    width: 90%;
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

.navbar {
	padding-left: 4%;
	float: left;
    z-index: 100;
    font-size: 14px;
    width: 100%;
}

.icon {
	position: relative;
    float: right;
    margin-right: 4%;
    font-size: 30px;
	margin-left: 20px;
}

.icon i {
	margin-right: 20px;
	background-color: transparent;
    color: #2cbfdf;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #25caf0;
    color: transparent;
}

.icon i:hover {
	color: #25caf0;
}

.steemit {
	font-size: 14px;
	color: black;
	background: url(../img/steemit-idle.svg) no-repeat scroll center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.navbar-change {
	background-color: transparent !important;
	color: #788da8 !important;
}

.navbar-change a {
	color: white !important;
}

.navbar-brand {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 200%;
}

#navbarSupportedContent{
	margin-left: 6% !important;
}

.logo{
	font-size: 14px;
	color: black;
	background: url(../img/logo/logo.svg) no-repeat scroll center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.navbar-nav {
	margin-top: -0.5% !important; 
}

.section_two {

}

.section_two h2 {    
	sfont-size: 34px;
    font-weight: 100;
    letter-spacing: 0;
}

.section_two h3 {
	margin-top: 31vh;
    margin-bottom: 1vh;
}

.section_two p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
    text-indent: 0px;
    width: 70%;
}

.section_two .right {
	padding-left: 5%; 
}