/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

.connect-copy-container{
	text-align: left;
	color: #fff;
    width: 65%;
}

.connect-copy-container>h2 {
	max-width: 650px;
    margin: 3% 2% 5% 0;
    font-family: book;
    font-size: 34px !important;
    font-weight: 100;
    letter-spacing: 0;
    font-family: 'Titillium Web',sans-serif !important;
    font-size: 26px;
}

.txt-highlight{
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin: 4.5% 0;
	text-align: left;
	margin-bottom: -3.5%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    background-image: linear-gradient(252deg,#2cbfdf,#2c9cdf);
}

._center {
    text-align: unset;
    margin: -2% 0% 1% -6%;
}

p {
	text-indent: 3vw;
}

footer{
	font-family: 'Titillium Web',sans-serif !important;
    background: linear-gradient(to bottom,#00194c,#04a7cb);
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
	clear: both;
	position: relative;
    z-index: 10;
    height: auto;
    margin-top: -3em;
}

.input-group-text{
	margin-right: 1vw;
	background-color: transparent !important;
	border: solid 1px #2cbfdf !important;
	border-right: none !important; 
}

.form-control {
	border-left: none !important;  
	border: solid 1px #2cbfdf !important;
	color: #e2efff !important;
	font-size: 13px !important;
	background-color: transparent !important;
	margin-left: -1vw !important;
	border-left: black !important;
}

.social-network {
    color: #e2f0ff !important;
    font-size: 20px !important;
    top: 7vh !important;
    left: -11vh !important;
}

.social-network > p {
	float: left !important;
    position: relative !important;
    opacity: .8 !important;
	font-weight: 300 !important;
    letter-spacing: 1.4px !important;
    text-align: left !important;
    margin-bottom: 25px !important;
    text-transform: uppercase !important;
    text-shadow: 0 0 4px rgba(235,251,255,.02) !important;
    line-height: 35px !important;
}

.social-network i {
	font-size: 29px !important;
    margin-left: -6vw !important;
    top: 0vh !important;
    position: absolute;
    margin-left: -4vw !important;
    background-color: transparent;
    color: #2cbfdf;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #25caf0;
    color: transparent;
    float: left;
    position: absolute;
    margin-right: 22px;
    width: 28px;
    transition: .6s all;
}

.section_one {
	display: in
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

	background: linear-gradient(to bottom,#00194c,#04a7cb);
	display: -webkit-flex;
      -webkit-flex-direction: row;
}

.overview-copy-container {
    color: #fff;
    width: 39%;
    z-index: 2;
    position: absolute;
    top: 31vh;
    left: 5vw;
}

.section_one h1{
	margin: 3% 2% 10% -3px;
}

.overview-copy-container h1{
    height: 122px;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    text-align: left;
    color: #e2f8ff;
    text-shadow: 0 0 10px rgba(228,236,255,.02);
    margin-left: -3px;
    font-family: 'Titillium Web',sans-serif;
    width: 100%;
    font-size: 51px;
}

.overview-copy-container h4 {
	font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    opacity: .7;
    font-weight: 500;
    color: #b7cce5;
    text-shadow: 0 0 4px rgba(235,251,255,.02);
}

.overview-copy-container h4.sale {
    float: left;
    width: 100%;
}

.content{
	height: 100vh;
}

.img_background {
    background: url(../img/leaderboard.svg) center center no-repeat;
    height: 100vh;
    display: inline-table;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    width: 60%;
    float: right;
}

.overview-hex {
    background: url(../img/hex.svg) center center no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    margin-left: 28%;
}

.overview-hex-image {
    background: url(../img/vid.gif) 4px 10px no-repeat;
    background-size: contain;
    width: 344px;
    height: 340px;
    opacity: .6;
}

.overview-hex-play {
    background: url(../img/play-white.svg) center center no-repeat;
    width: 100%;
    height: 100%;
    max-width: 100px;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s all ease-out;
    opacity: .75;
    margin-top: 30.7vh;
}

.overview-copy-container input{
	width: 245px;
    box-sizing: border-box;
    padding: 10px 10px 10px 42px;
    border-radius: 3px;
    border: solid 1px #2cbfdf;
    color: #e2efff;
    background-color: transparent;
    font-family: 'Titillium Web',sans-serif;
    font-size: 13px;
    letter-spacing: 1.8px;
    line-height: 21px;
    transition: border .5s;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -o-transition: border .5s;
    -ms-transition: border .5s;
}

.overview-copy-container input[type="email"]::-webkit-input-placeholder { 
  color: #e2efff;
}

.overview-copy-container input[type="email"]::-moz-placeholder { 
  color: #e2efff;
}
.overview-copy-container input[type="email"]:-ms-input-placeholder { 
  color: #e2efff;
}
.overview-copy-container input[type="email"]:-moz-placeholder { 
  color: #e2efff;
}

.overview-copy-container button[type="submit"]{
	font-family: 'Titillium Web',sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #f2fbff;
    text-shadow: 0 0 4px rgba(235,251,255,.1);
    width: 160px;
    float: right;
    padding: 12px;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-image: linear-gradient(241deg,#2cbfdf 25%,#2c9cdf 100%);
    cursor: pointer;
    -webkit-appearance: none;
    text-transform: uppercase;
    margin-right: 20%;
}

.overview-copy-container button[type="submit"]:hover{
	background-image: linear-gradient(0deg,#2cbfdf 0,#2c9cdf 100%);
}

.overview-copy-container form{
	margin-bottom: 7%;
}

.email{
	width: 30px;
    height: 18px;
    border: none;
    border-right: none;
    position: absolute;
    margin: 12px 0 0 6px;
    margin: 7px 0 0 9px;
    font-size: 21px;
    color: #2cbfdf;
}

.vision { 
    width: 50%;
    height: 100vh;
    background: url(../img/vision.svg) center center no-repeat;
    background-size: contain;
    width: 100%;
}

.section_three {
    background-image: linear-gradient(65deg,#194aad,#014a78);
    background-size: cover;
    height: 100vh;
}

.section_three h3{
	margin-top: 28vh;
    margin-bottom: 1vh;
}

.section_three h2{
	color: #e2efff;
	width: 80%;
}

.section_three p{
	font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #e2efff;
    text-indent: 0px;
}

.challenge-img {
    background: url(../img/challenge.svg) center center no-repeat;
    background-size: contain;
    width: 400px;
    height: 500px;
    margin-left: 45vw;
    margin-top: -44vh;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important; 
}

.section_fourth {
	height: 100vh;
}

.section_fourth h2{
	font-size: 34px;
    font-weight: 100;
    letter-spacing: 1.1px;
    width: 80%;
}

.section_fourth h3{
	margin-top: 23vh;
    margin-bottom: 1vh;
}

.section_fourth p {
	width: 74%;
    text-indent: 0px;

    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
}

.section_fourth .center-vertical {
	margin-left: 3vw;
}

.section_fourth .center-horizontal {
	display: inherit;
    margin-top: 11vh;
}

.solution-img {
    background: url(../img/solution.svg) center center no-repeat;
    background-size: contain;
    height: 438px;
    margin-top: 17vh;
    margin-left: 9%;
}

.section_five {
    background-image: linear-gradient(to top,#04a7cb,#00194c 99%);
	height: 100vh;
}

.section_five h2{
	font-size: 34px;
    font-weight: 100;
    letter-spacing: 1.1px;
    width: 80%;
    color: #e2efff;
}

.section_five h3{
	margin-top: 23vh;
    margin-bottom: 1vh;
}

.section_five p {
	width: 95%;
    text-indent: 0px;

    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #e2efff;
}

.section_five .center-vertical {
	margin-left: 3vw;
}

.section_fourth .center-horizontal {
	display: inherit;
    margin-top: 11vh;
}

.protocol-img {
    background: url(../img/protocol.png) center center no-repeat;
    background-size: contain;
    width: 480px;
    height: 500px;
    margin-left: 45vw;
    margin-top: -54vh;
}

.pattern {
	height: auto;
	display: block;
    padding: 85px 0;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
    background-color: #f4f4f4;
    text-align: center;
    background: url(../img/pattern-small.svg) 0 0 no-repeat,#f4f4f4;
    background-size: cover;
}

.investing {
    background: url(../img/investing-idle.png) no-repeat;
    background-size: contain;
    height: 28px;
    width: 150px;
    margin-top: 11px;
}

.investing:hover{
	background: url(../img/investing.png) no-repeat;
    background-size: contain;
}

.techcrunch{
	background: url(../img/techcrunch-idle.svg) no-repeat;
    background-size: contain;
    height: 30px;
    width: 59px;
    margin-top: 10px;
    margin-left: 3vw;
}

.techcrunch:hover{
	background: url(../img/techcrunch.svg) no-repeat;
    background-size: contain;
}

.forbes {
    background: url(../img/forbes-idle.svg) no-repeat;
    background-size: contain;
    height: 40px;
    width: 116px;
    margin-top: 9.5px;
}

.forbes:hover{
	background: url(../img/forbes.svg) no-repeat;
    background-size: contain;
}

.inc {
    background: url(../img/inc-idle.png) no-repeat;
    background-size: contain;
    height: 30px;
    width: 87px;
    margin-top: 10px;
    margin-left: 1vw;
}

.inc:hover{
	background: url(../img/inc.png) no-repeat;
    background-size: contain;
}

.euromoney {
    background: url(../img/euromoney-idle.svg) no-repeat;
    background-size: contain;
    height: 30px;
    width: 133px;
    margin-top: 10px;
}

.euromoney:hover{
	background: url(../img/euromoney.svg) no-repeat;
    background-size: contain;
}

.telegraph {
    background: url(../img/telegraph-idle.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 106px;
    margin-left: 1vw;
}

.telegraph:hover {
   	background: url(../img/telegraph.png) no-repeat;
    background-size: contain;
}

.transacteu {
    background: url(../img/transacteu.png) no-repeat;
    height: 40px;
    width: 201px;
    margin-top: -2vh;
}

.processing {
    background: url(../img/processing.png) no-repeat;
    height: 23px;
    width: 240px;
    padding-top: 8px;
    margin-top: -2vh;
}

.align-partners {
    margin-bottom: 4.3%;
    margin-top: 3%;
}

.section_eight {
    padding-top: 75px;
    background-color: #f4f4f4;
    background-image: linear-gradient(115deg,#123680,#0681a9);
    height: 100vh;
}

.section_eight h3 {
	margin-left: 7vw;
}


.section_eight h2 {
	margin-left: 7vw;
    margin-top: 7vh;
    width: 37vw;
    color: #e2efff;
}

.section_eight > a:hover{
	cursor: pointer;
}

.section_eight .align-button {
	margin-left: 45vw;
    color: #FFFFFF;
    margin-top: 8vh;
}

.section_eight .align-button a {
	margin-right: 2%;
}

.section_eight .align-button a:hover{
	cursor: pointer;
}

.content-img {
    display: block;
    padding-top: 0vh;
    height: auto;
}

.roadmap-img-container{
    width: 100%;
    -webkit-transition: margin-left 1.2s;
    display: -webkit-inline-box;
}


.map-img {
    position: relative;
    float: left;
    height: 500px;
    max-width: 1300px;
}

.map-img1 {
    position: relative;
    background: url(../img/2017.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.map-img2 {
    position: relative;
    background: url(../img/2018.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.map-img3 {
    position: relative;
    background: url(../img/future.svg) 0 0 no-repeat;
    background-size: contain;
    width: 100vw !important;
    margin-left: 7%;
}

.team-people-name {
    font-family: med;
    margin: 0% 22% 0 22%;
}

.team-people-title {
    font-weight: 300;
    margin-top: -5%;     
}

.team-people-inner-container{
    width: 33.33%;
}

.font-name {
    text-indent: 0vw;
    padding: 10px;
    text-align: center;
}

.container > .row p {
    font-size: 14px;
    text-indent: 0vw;
    padding: 10px;
    text-align: center;
}

.section_nine{
    position: static;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

section#section_nine .documentation-left {
    width: 572px;
    height: 410px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
}

.documentation-right{
	width: 80%;
    margin: auto;
    margin-top: 11vh;
}

.documentation-right h2 {
	margin-bottom: 3%;
}

.documentation-right h3 {
	font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    margin-bottom: 1%;
}

.documentation-right p {
	padding: 0px !important;
	text-align: left !important;

    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
}


.documentation-box-container {
    width: 572px;
    height: 14pc;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
}

.documentation-box {
    width: 256px;
    height: 410px;
}

.shadow {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
}

.documentation-box-top {
	height: 256px;
    box-sizing: border-box;
    background-image: linear-gradient(227deg,#04a7cb,#892d98);
    padding: 87px 0 0 88px
}

.documentation-logo {
    background: url(../img/overview.svg) no-repeat;
    background-size: contain;
    width: 81px;
    height: 89px;
}

.documentation-box-middle {
    height: 52px;
    line-height: 52px;
    background-color: #eaedf4;
    text-align: center;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.4px;
}

.documentation-whitepaper {

}

.documentation-whitepaper .documentation-box-top {
	background-image: linear-gradient(222deg,#57d9f2,#194aad);
    padding: 80px 0 0 64px;
}

.documentation-whitepaper .documentation-box-top{
	background-image: linear-gradient(222deg,#57d9f2,#194aad);
    padding: 80px 0 0 64px;
}

.documentation-whitepaper .documentation-logo {
    background: url(../img/white-paper.svg) no-repeat;
    background-size: contain;
    width: 131px;
    height: 101px;
}

.documentation-box-bottom {
    height: 102px;
    display: flex;
    padding: 13%;
}

.section_nine button {
	border: none;
    width: 174px;
    height: 36px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(43,96,143,.3);
    font-family: 'Titillium Web',sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #f2fcff;
    text-transform: uppercase;
    padding-left: 30px;
    margin: auto;
    cursor: pointer;
    transition: .3s all ease-in;
    background: url(../img/download.svg) no-repeat 124px 8px;
}

.documentation-overview {}

.documentation-overview button {
    background-color: #2cbedf;
}

.documentation-whitepaper button {
    background-color: #2c9cdf;
}

#section_nine .content{
	max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
    width: 90%;
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

.navbar {
	padding-left: 4%;
	float: left;
    z-index: 100;
    font-size: 14px;
    width: 100%;
    color:;
}

.icon {
	position: relative;
    float: right;
    margin-right: 4%;
    font-size: 30px;
	margin-left: 20px;
}

.icon i {
	margin-right: 20px;
	background-color: transparent;
    color: #2cbfdf;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #25caf0;
    color: transparent;
}

.icon i:hover {
	color: #25caf0;
}

.steemit {
	font-size: 14px;
	color: black;
	background: url(../img/steemit-idle.svg) no-repeat scroll center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.navbar-change {
	background-color: transparent !important;
}


.navbar-change ul li a {
	color: #788da8 !important;
}

.navbar-change a:hover{
	color: white !important;
	text-decoration: none !important;
}

.navbar-brand {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 200%;
}

#navbarSupportedContent{
	margin-left: 6% !important;
}

.logo{
	font-size: 14px;
	color: black;
	background: url(../img/logo/logo.svg) no-repeat scroll center center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.navbar-nav {
	margin-top: -0.5% !important; 
}

.section_two {

}

.section_two h2 {    
	sfont-size: 34px;
    font-weight: 100;
    letter-spacing: 0;
}

.section_two h3 {
	margin-top: 31vh;
    margin-bottom: 1vh;
}

.section_two p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
    text-indent: 0px;
    width: 70%;
}

.section_two .right {
	padding-left: 5%; 
}

.section_ten {
	text-align: center;
}

.section_ten h2{
	margin-top: 6vh;
}

h3#title1 {
	text-align: center !important;
	margin-top: 18vh;
}

h3#title2 {
	text-align: center !important;
    margin-bottom: 7vh;
    margin-top: 4vh;
}

h3#title3{
	margin-bottom: 10vh !important;
	text-align: center;
}


.meet-team {
	border: none;
    width: 235px;
    height: 37px;
    border-radius: 16px;
    background-color: #2cbedf;
    box-shadow: 0 4px 10px 0 rgba(43,96,143,.3);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 35px;
    cursor: pointer;
    transition: .6s all ease-in;
    font-size: 13px;
}

.meet-team:hover  {
    transition: .6s all ease-in;
    background-color: #2c84df;
}

.white {
    color: #fff;
    font-weight: 600;
}

.navbar {
	font-family: 'Titillium Web',sans-serif;
}

.nav-link {
	color:black !important;
}

.nav-link:hover{
	text-decoration: underline;
}

.logo-white {
	color:white !important;
}

.logo-black {
	color:black !important;
}

/******** TEAM *********/

#team-header {
	display: block;
    padding: calc(15vh + 60px) 0 15vh 0;
    height: auto;
    background-color: #f4f4f4;
    text-align: center;
    background: url(../img/pattern-large.svg) 0 0 no-repeat,linear-gradient(to bottom,#00194c,#04a7cb);
    background-size: cover;
    color: #e2f8ff;
}
	
#team-header .txt-highlight{
	text-align: center;
    margin-bottom: -0.5%;
    margin-top: 1%;
}

#team-header h2{
	margin-bottom: 6%;
    font-size: 34px;
    font-weight: 100;
    letter-spacing: 0;
}

#description{
	text-align: left;
}

.container > h3#title2.txt-highlight{
	margin-top: 11vh !important;
}

/********FAQ*********/

#legal-header {
    display: block;
    padding: calc(15vh + 60px) 0 15vh 0;
    height: auto;
    background-color: #f4f4f4;
    text-align: center;
    background: url(../img/pattern-large.svg) 0 0 no-repeat,linear-gradient(to bottom,#00194c,#04a7cb);
    background-size: cover;
}

#legal-header h1 {
	color: white;
}

#main .content {
    max-width: 1440px;
    margin: 10vh auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
}

section#main{
	height: auto;
}

section#main aside#categories {
    display: flex;
    margin-right: 30px;
	width: 20%;
}



section#main #categories-wrapper {
    flex-direction: row;
    list-style-type: none;
    margin-left: 0;
}

section#main #questions {
    flex-direction: column;
    width: 80%;
    padding: 5px;
}

section#main .question {
    cursor: pointer;
    text-transform: initial;
    font-size: 23px;
    margin-bottom: 5px;
    flex-direction: row;
    margin-top: 0;
}

section#main .question i {
    font-size: 15px; 
    padding-right: 4px; 
    position: relative; 
    top: -2px; 
    transition: .4s all;
}

section#main #questions-wrapper {
    list-style: none;
    padding: 5px;
}

section#main div#questions ul li.question-wrapper {
	margin-bottom: 35px;
}

section#main #category-selected {
    color: #049bc0;
    font-size: 35px;
    margin-bottom: 30px;
    transition: .5s ease-in;
}

section#main #category-selected h1 {
    font-family: 'Titillium Web';
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0;
    color: #e2f8ff;
    text-shadow: 0 0 10px rgba(228,236,255,.02);
}

section#main .answer {
    background-color: #b1e0eb21;
    padding: 10px;
    font-family: 'Titillium Web';
    font-size: 17px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
    line-height: 2;
    transition: .5s ease-out;
}

.search-bar {
    margin: 10px auto 0;
    text-align: center;
    position: relative;
}

.search-bar i {
    font-size: 23px;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 0.5%;
    color: #049bc0;
}

.search-bar input[type="text"] {
	font-size: 25px;
	border: none;
	color: #049bc0;
}

.search-bar input{
	text-align: center;
}

.search-bar input[type="text"]::placeholder {
   color: #049bc0;
   text-align: center;
}

.search-bar input[type="text"]::placeholder::before {
   content: '>'
}

.search-bar input[type="text"]:focus {
    border-bottom: 1px dotted !important;
    transition: .6s all ease-in;
    outline: none;
}

.search-bar input[type="text"]:focus, text-area: focus{
	border: none;
}

input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

section#main .category {
    padding: 5px 10px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .5s ease-out;
    display: block;
}

section#main .category-selected {
    border-left: 3px solid #012658!important;
    padding-left: 20px;
    color: #012658;
}

section#main .category:hover {
    color: #012660;
    padding-left: 20px;
    border-left: 3px solid #04a1c6;
}

section#main li, p {
    font-size: 17px;
    font-family: 'Titillium Web';
    line-height: 34px;
    color: #3d3a44;
    text-indent: 0px;
}

#main ul{
	padding: 0px !important; 
}


/***TOKEN***/

.overview-copy-container#token {
	top: 18vh !important;
}

.overview-copy-container#token > h4#acceptCreditCartTitle{
	margin-bottom: 8%;
}

.overview-copy-container > h1#tokenH1{
	font-size: 36px !important;
	width: 529px;
    height: 122px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    text-align: left;
    color: #e2f8ff;
    text-shadow: 0 0 10px rgba(228,236,255,.02);
    margin-left: -3px;

    margin: 3% 2% 10% -3px;
}

.overview-copy-container h3#token.txt-highlight {
	margin-bottom: 4% !important;
}

.overview-copy-container h2#token{
	font-weight: 900;
	color: #e2efff;
}

div#token.overview-copy-container > div.token-header-buttons {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.token-header-buttons button {
    width: 248px;
    height: 36px;
    margin-top: 2vh;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(43,96,143,.3);
    font-family: 'Titillium Web',sans-serif;
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #f2fcff;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 15px;
    line-height: 36px;
    background: url(../img/download.svg) no-repeat 216px 9px,#f4f4f4;
    transition: .4s all ease-in;
    border: none;
}

.token-header-buttons button.overview {
	background-color: #6fc5fd;
}

.token-header-buttons button.technical {
	background-color: #2cabdf;
}

.token-header-buttons button.token-economy {
	background-color: #2ca3ed;
}

.token-header-buttons button:hover{
	box-shadow: 0 4px 10px 0 rgba(43,96,143,1);
    transition: .4s all ease-out;
}

section#basics {
    display: block;
    height: auto;
    text-align: center;
}

section#basics .content {
	display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
    max-width: 1440px;
    padding: 0 5%;
    width: 100%;
    height: auto;	
}

section#basics .basics-what-coti {
    background: url(../img/what-coti.svg) center center no-repeat;
    background-position: contain;
    height: 200px;
    margin: 0 auto;
}

section#basics .content>div {
    width: 40%;
    max-width: 450px;
    text-align: left;
}

section#basics .content>div:nth-child(even) {
    margin: 5vh 3% 5vh auto;
}

section#basics .content>div:nth-child(odd) {
    margin: 5vh auto 5vh 3%;
}

section#basics .basics-what-token {
    background: url(../img/what-token.svg) center center no-repeat;
    background-position: contain;
    height: 200px;
    margin: 0 auto;
}

section#basics .basics-participate {
    background: url(../img/participate.svg) center center no-repeat;
    background-position: contain;
    height: 200px;
    margin: 0 auto;
}

section#basics .content h3 {
    width: 100%;
    margin-bottom: 5vh;
    text-align: center;
}

section#status-offering {
    display: block;
    height: auto;
    text-align: center;
    background-image: linear-gradient(62deg,#194aad,#014a78);
}

section#status-offering .content>div:nth-child(odd) {
    margin: 5vh 5% 5vh auto;
}

section#status-offering .content>div:nth-child(even) {
    margin: 5vh auto 5vh 5%;
}

section#status-offering .status-offering-offering {
    background: url(../img/offering.svg) center center no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

section#status-offering .status-offering-status {
    background: url(../img/status.svg) center center no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
    margin: 0 auto;
}

section#status-offering .content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
    width: 90%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

section#status-offering .content {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
}

section#status-offering .content h3.txt-highlight {
	margin-bottom: 2.5% !important;
}

section#status-offering .content p {
	color: #e2efff;
	font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: .2px;
    opacity: .95;
    width: 90%;
}

section#status-offering .content h2 {
    color: #e3f9ff;
    text-shadow: 0 0 10px rgba(228,236,255,.02);
	font-size: 34px;
    font-weight: 100;
    letter-spacing: 0;
    margin-bottom: 3%;
}

section#status-offering .content>div {
    width: 40%;
    max-width: 450px;
    text-align: left;
}


/*allocations*/

section#allocations .content {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
}

section#allocations .content {
    max-width: 1440px;
    padding: 0 5%;
    width: 100%;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

section#allocations .content h3 {
    width: 100%;
    margin-bottom: 4vh;
    text-align: center;
}

section#allocations .content h3.txt-highlight{
	margin-bottom: 2.5% !important;
}

section#allocations .content ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0 20px;
}

section#allocations .content>div {
    width: 50%;
    max-width: 450px;
    text-align: left;
    margin: 5vh auto;
}

section#allocations .content>div:nth-child(even) {
    margin: 5vh 5% 5vh auto;
}

section#allocations .content>div:nth-child(odd) {
    margin: 5vh auto 5vh 5%;
}

section#allocations .allocations-allocations {
    background: url(../img/allocations-upd-3.svg) center center no-repeat;
    background-size: contain;
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

section#allocations .content ul.bullet-list li:nth-of-type(1):before {
    color: #184aaa;
}

section#allocations .content ul.bullet-list li:nth-of-type(2):before {
    color: #2cbedf;
}

section#allocations .content ul.bullet-list li:nth-of-type(3):before {
    color: #50e3c2;
}

section#allocations .content ul.bullet-list li:nth-of-type(4):before {
    color: #ffc15a;
}

section#allocations .content ul.bullet-list li:nth-of-type(5):before {
    color: #ff8337;
}

section#allocations .content ul.bullet-list li:nth-of-type(6):before {
    color: #d7297d;
}

section#allocations .content ul.bullet-list li:nth-of-type(7):before {
    color: #a05be1;
}

section#allocations .content ul.bullet-list li:nth-of-type(8):before {
    color: #8248f3;
}

section#allocations .content ul.bullet-list li, section#allocations .content ul.percent-list li, section#allocations .content ul.word-list li {
	line-height: 25px;
    height: 25px;
}

section#allocations .content ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0 20px;
    padding: 0;
}

section#allocations .content ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    opacity: .95;
}

section#allocations .content ul.bullet-list li:before {
    content: "\2022";
    font-size: 45px;
    line-height: 25px;
    display: inline-block;
}

section#allocations .content ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0 20px;
}

/*proceeds*/

section#proceeds .content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 10vh auto;
}

section#proceeds .content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
    width: 100%;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

section#proceeds .content ul.bullet-list li:nth-of-type(1):before {
    color: #184aaa;
}

section#proceeds .content ul.bullet-list li:nth-of-type(2):before {
    color: #2cbedf;
}

section#proceeds .content ul.bullet-list li:nth-of-type(3):before {
    color: #50e3c2;
}

section#proceeds .content ul.bullet-list li:nth-of-type(4):before {
    color: #ffc15a;
}

section#proceeds .content ul.bullet-list li:nth-of-type(5):before {
    color: #ff8337;
}

section#proceeds .content ul.bullet-list li:nth-of-type(6):before {
    color: #d7297d;
}

section#proceeds .content ul.bullet-list li:nth-of-type(7):before {
    color: #a05be1;
}

section#proceeds .content ul.bullet-list li:nth-of-type(8):before {
    color: #8248f3;
}

section#proceeds .content ul.bullet-list li, section#proceeds .content ul.percent-list li, section#allocations .content ul.word-list li {
	line-height: 25px;
    height: 25px;
}

section#proceeds .content ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0 20px;
    padding: 0;
}

section#proceeds .content ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    opacity: .95;
}

section#proceeds .content ul.bullet-list li:before {
    content: "\2022";
    font-size: 45px;
    line-height: 25px;
    display: inline-block;
}

section#proceeds .content ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0 20px;
}

section#proceeds .content>div {
    width: 50%;
    max-width: 400px;
    text-align: left;
    margin: 5vh auto;
}

section#proceeds .content>div:nth-child(even) {
    margin: 5vh 5% 5vh auto;
}

section#proceeds .content>div:nth-child(odd) {
    margin: 5vh auto 5vh 5%;
}

section#proceeds .content>div {
    width: 50%;
    max-width: 400px;
    text-align: left;
    margin: 5vh auto;
}

section#proceeds .content h3 {
    width: 100%;
    margin-bottom: 4vh;
    text-align: center;
}

section#proceeds .content h3.txt-highlight{
	margin-bottom: 2.5% !important;
}

section#proceeds .content ul.bullet-list li, section#proceeds .content ul.percent-list li, section#proceeds .content ul.word-list li {
    line-height: 25px;
    height: 25px;
}

section#proceeds .content ul {
    list-style: none;
    position: relative;
    float: left;
}

section#proceeds .proceeds-proceeds {
    background: url(../img/use-of-proceeds.svg) center center no-repeat;
    background-size: contain;
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

/*proceeds2*/

section#proceeds2 {
    display: block;
    height: auto;
    text-align: center;
}

section#proceeds2 .content {
    height: auto;
    max-width: 1000px;
    padding: 2vh 0 5vh 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 10vh auto;
}

section#proceeds2 .proceeds2-box-container {
    width: 33.33%;
}

section#proceeds2 .proceeds2-box {
    width: 280px;
    height: 215px;
    margin: 10px auto;
    box-sizing: border-box;
}

section#proceeds2 .proceeds2-box .proceeds2-box-title {
    text-align: left;
}

section#proceeds2 .proceeds2-box .proceeds2-box-text {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
}

section#proceeds2 .proceeds2-box p.proceeds2-box-text {
    font-size: 17px;
    font-weight: 100;
    line-height: 1.5 !important; 
    letter-spacing: .2px;
    opacity: .95;
    color: #3d3a44;
}

section#proceeds2 .proceeds2-box .proceeds2-box-title:before {
    content: "\2022";
    font-size: 45px;
    padding: 0 5px 0 0;
    vertical-align: -4px;
    display: inline-block;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(1) .proceeds2-box-title:before {
    color: #db50ef;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(2) .proceeds2-box-title:before {
    color: #d7297d;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(3) .proceeds2-box-title:before {
    color: #ff8337;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(4) .proceeds2-box-title:before {
    color: #ffc15a;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(5) .proceeds2-box-title:before {
    color: #48f0d5;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(6) .proceeds2-box-title:before {
    color: #37bedd;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(7) .proceeds2-box-title:before {
    color: #184aaa;
}

section#proceeds2 .proceeds2-box-container:nth-of-type(8) .proceeds2-box-title:before {
    color: #cc9ef8;
}

